.order-summary{
    padding: 0 20px;
    position: sticky;
    top: 0;
}
.order-summary img{
    width: 50px;
    border-radius: 50px;
}

.order-summary h2{
    display: flex;
    justify-content: center;
}
.order-summary p{
    font-size: 16px;
}
.items-count{
    font-weight: 500;
}